.react-pdf__Page__canvas
{
  margin: 0 auto;
}

.react-pdf__Page__textContent
{
  height: 0 !important;
  width: 0 !important;
}

.react-pdf__Page__annotations
{
  height: 0 !important;
  width: 0 !important;
}