$color-primary-50: '#FAC200';
$color-primary-100: '#FFE100';
$color-primary-150: '#FFFCDB';
$color-secondary-50: '#964900';
$color-black-50: '#231815';
$color-black-100: black;
$color-blue-50: '#2FBDF0';
$color-blue-100: '#B0DFF8';
$color-white-50: white;
$color-red-50: '#F45151';